body
  text-align center
  background #141414 url(C:\Users\imane1\Desktop\ocean.jpg)
  background-size
  background-position 100%
  height 200vh

jpg
  position absolute
  top 100%
  margin-top -60px
  left 50%
  margin-left -225px
text

  text-align center