<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Professionnelle</title>
    <style>
        body {
            background-size: cover;
            background-position: center;
            color: #ffffff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        h1 {
            font-size: 2em;
        }

        p {
            font-size: 1.2em;
        }
    </style>
</head>
<body>
<h1 th:text="${message}"></h1>

<script th:inline="javascript">
    var message = /*[[${message}]]*/ '';
    var body = document.body;

    if (message === "Good morning") {
        body.style.backgroundImage = "url('3.jpeg')";

    } else if (message === "Good afternoon") {
        body.style.backgroundImage = "url('2.jpeg')";

    } else {
        body.style.backgroundImage = "url('1.jpg')";

    }
</script>


</body>
</html>