<!DOCTYPE html>
<html>
<head>
  <meta charset = "ISO-8859-1" />
  <link rel ="stylesheet" href ="/css/styles.css" />
  <title>Spring Boot Application</title>
</head>
<body>
<nav>
    <img src="/images/springlogo.png" alt="spring boot image">
  <div id="nav-bar">
    <a class="nav-bar-item"  href="#Home">Home</a>
    <a class="nav-bar-item"  href="#About">about</a>
    <a class="nav-bar-item"  href="#services">Services</a>
    <a class="nav-bar-item"  href="#contact">Contact</a>
  </div>
</nav>
<section>
  <h1>Hello World </h1>
  <h3>this is my first app in spring boot</h3>
</section>
</body>
</html>