<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sun.css">
</head>
<body>
    <div class="container">
        <img src="../static/images/h.jpg" th:src="@{images/h.jpg}" class="hill"/>
        <img src="../static/images/cloud.png" th:src="@{images/cloud.png}" class="cloud"/>

        <img src="../static/images/ois.gif" th:src="@{images/ois.gif}" class="birds"/>
        <div class="sun"></div>
        <div class="dark"></div>
        <h1 th:text="${message}"></h1>
    </div>
</body>
</html>